<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav>
        <ul>
            <li><a class="monserrat" href="{% url 'home' %}">Home</a></li>
            <li><a class="monserrat" href="{% url 'posts' %}">Posts</a></li>
            <li><a class="monserrat" href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>